.Gallery {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.Gallery .Gallery-snap {
  user-select: none;
  max-height: 80%;
  max-width: 80%;
  box-shadow: 0px 0px 30px #C9C9FF;
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* Must match TRANSITION_MS in Gallery.js */
  transition: left 300ms;
}

.Gallery .Gallery-snap.to-previous-enter,
.Gallery .Gallery-snap.to-next-leave  {
  left: -200%;
}

.Gallery .Gallery-snap.to-next-enter,
.Gallery .Gallery-snap.to-previous-leave {
  left: 200%;
}

.Gallery .Gallery-snap.to-previous-enter-active,
.Gallery .Gallery-snap.to-next-enter-active {
  left: 0;
}

.Gallery .Gallery-preload {
  display: none;
}

.Gallery .Gallery-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.Gallery .Gallery-close img {
  height: 40px;
  width: 40px;
}

.Gallery .Gallery-close:active {
  opacity: 0.8;
}
